<header id="fh5co-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">

    <div class="container-fluid">
        <div class="row">
            <a href="#" name="open menu" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <ul class="fh5co-social">
                {% if config.share.twitter %}
                    <li><a href="https://twitter.com/intent/tweet?text={{ site_title }} :&url={{ current_page.url }}"><i
                                    class="icon-twitter"></i></a></li>
                {% endif %}
                {% if config.share.facebook %}
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ current_page.url }}"><i
                                    class="icon-facebook"></i></a></li>
                {% endif %}
                {% if config.share.google %}
                    <li><a href="https://plus.google.com/share?url={{ current_page.url }}"><i
                                    class="icon-google"></i></a></li>
                {% endif %}
                {% if config.share.linkedin %}
                    <li>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source={{ current_page.url }}"><i
                                    class="icon-linkedin"></i></a></li>
                {% endif %}
            </ul>
            <nav class="col-lg-12 col-md-12 row">
                <div class="col-sm-4 navlinks align-right header-nav-links">
                    {% for name, page in nav %}
                        {% if loop.index is divisible by (2)  %}
                        <div class="nav-item">
                            <a href="/{{ name }}">{{ name }}</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <h1 id="fh5co-logo" class="col-sm-4 text-center" itemprop="name"><a href="/" itemprop="url">{{ site_title }}
                        {% if config.show_trademark %}<sup>TM</sup>{% endif %}</a></h1>
                <div class="col-sm-4 navlinks header-nav-links">
                    {% for name, page in nav %}
                        {% if loop.index is not divisible by (2)  %}
                            <div class="nav-item">
                                <a href="/{{ name }}">{{ name }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>
        </div>
    </div>
</header>
