<!DOCTYPE html>
{% if meta.langISO %}
    {% set langISO = meta.langISO %}
{% elseif config.langISO %}
    {% set langISO = config.langISO %}
{% else %}
    {% set langISO = 'en' %}
{% endif %}
<!--[if lt IE 7]>
<html theme="{{ color_theme }}" class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ langISO }}"> <![endif]-->
<!--[if IE 7]>
<html theme="{{ color_theme }} class="no-js lt-ie9 lt-ie8" lang="{{ langISO }}"> <![endif]-->
<!--[if IE 8]>
<html theme="{{ color_theme }}" class="no-js lt-ie9" lang="{{ langISO }}"> <![endif]-->
<!--[if gt IE 8]><!-->
<html theme="{{ color_theme }}" class="no-js" lang="{{ langISO }}"> <!--<![endif]-->
<head>
    <meta name="description" content="{{ page_meta.description|striptags }}"/>
    <meta name="author" content="{{ page_meta.author }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_meta.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Facebook and Twitter integration -->
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page_meta.title }}"/>
    <meta property="og:image" content="{{ page_meta.thumbnail }}"/>
    <meta property="og:url" content="{{ page_meta.url }}"/>
    <meta property="og:site_name" content="{{ page_meta.title }}"/>
    <meta property="og:description" content="{{ page_meta.description|striptags }}"/>
    <meta property="article:publisher" content="{{ page_meta.author }}"/>
    <meta property="article:author" content="{{ page_meta.author }}"/>
    <meta property="article:published_time" content="{{ page_meta.date|date(config.twig_date_format) }}"/>
    <meta name="twitter:title" content="{{ page_meta.title }}"/>
    <meta name="twitter:image" content="{{ page_meta.thumbnail }}"/>
    <meta name="twitter:url" content="{{ page_meta.url }}"/>
    <meta name="twitter:card" content="summary_large_image"/>


    <link rel="stylesheet" href="{{ theme_url }}/css/main.css">

    {% block head_js %}
        <!-- Modernizr JS -->
        <script src="{{ theme_url }}/js/modernizr-2.6.2.min.js"></script>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="{{ theme_url }}/js/respond.min.js"></script>
    	<![endif]-->
    {% endblock %}
</head>
<body>
{{ include('_hamburger-menu.twig') }}

{{ include('_header.twig') }}

{% if meta.template == 'single' %}
    {% if prev_page.meta.template == "single" %}
        <a href="{{ prev_page.url }}" class="fh5co-post-prev"><span><i class="icon-chevron-left"></i> Prev</span></a>
    {% endif %}
    {% if next_page.meta.template == "single" %}
        <a href="{{ next_page.url }}" class="fh5co-post-next"><span>Next <i class="icon-chevron-right"></i></span></a>
    {% endif %}
{% endif %}
<!-- END #fh5co-header -->
<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

{{ include('_footer.twig') }}

{% block stylesheets %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{{ theme_url }}/favicon.ico">
    <!-- Animate -->
    {#    <link rel="stylesheet" href="{{ theme_url }}/css/animate.css">#}
    {#    <!-- Icomoon -->#}
    {#    <link rel="stylesheet" href="{{ theme_url }}/css/icomoon.css">#}
    {#    <!-- Bootstrap  -->#}
    {#    <link rel="stylesheet" href="{{ theme_url }}/css/bootstrap.css">#}

{% endblock %}


{% block js %}
    <!-- jQuery -->
    <script src="{{ theme_url }}/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="{{ theme_url }}/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script defer src="{{ theme_url }}/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script defer src="{{ theme_url }}/js/jquery.waypoints.min.js"></script>
    <!-- Main JS -->
    <script src="{{ theme_url }}/js/main.js"></script>

    {% if config.serviceWorkerEnabled %}
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{{ theme_url }}/js/ServiceWorker.js', {scope: '/'})
                .then(function (registration) {
                    console.log('Registration successful, scope is: ', registration.scope);
                })
                .catch(function (error) {
                    console.log('Service worker registration failed, error: ', error);
                });
        }
    </script>
    {% endif %}

{% endblock %}

</body>
</html>