{% extends 'base.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        div.pager {
            text-align: center;
            margin: 1em 0;
        }

        div.pager span {
            display: inline-block;
            width: 1.8em;
            height: 1.8em;
            line-height: 1.8;
            text-align: center;
            cursor: pointer;
            background: #000;
            color: #fff;
            margin-right: 0.5em;
        }

        div.pager span.active {
            background: #F7CA78;
        }
    </style>
{% endblock %}

{% block head_js %}
    {% if meta.purpose == "search_results" %}
        <script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "SearchResultsPage",
		"name": "Search Page - {{ site_title }}",
		"publisher": {
			"@type": "Organization",
			"name": "{{ site_title }}"
		}
	}




        </script>
    {% else %}
        <script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "CollectionPage",
		"name": "Categories - {{ site_title }}",
		"publisher": {
			"@type": "Organization",
			"name": "{{ site_title }}"
		}
	}




        </script>
    {% endif %}
{% endblock %}


{% block content %}
    {% if meta.purpose == "search_results" %}
        <div class="row fh5co-post-entry">
            <p class="col-lg-12 col-md-12 text-center">{{ search_num_results }} page(s) found for " {{ search_term }}
                "</p>
            {% for page in search_results %}
                <article class="col-lg-3 col-md-4 col-sm-6 col-xs- 12 animate-box">
                    {% if page.meta.thumbnail %}
                        <figure>
                            <a href="{{ page.url }}"><img src="{{ page.meta.thumbnail }}" alt="{{ page.title }}"
                                                          class="img-responsive"></a>
                        </figure>
                    {% endif %}
                    <span class="fh5co-meta"><a href="#">{{ page.meta.category }}</a></span>
                    <h2 class="fh5co-article-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
                    <span class="fh5co-meta fh5co-date">{{ page.meta.date|date(config.twig_date_format) }}</span>
                </article>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.fh5co-post-entry').each(function () {
                var currentPage = 0;
                var numPerPage = {{ config.numPerPage }};
                var $table = $(this);
                $table.bind('repaginate', function () {
                    $table.find('article').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
                });
                $table.trigger('repaginate');
                var numRows = $table.find('article').length;
                var numPages = Math.ceil(numRows / numPerPage);
                var $pager = $('<div class="pager"></div>');
                for (var page = 0; page < numPages; page++) {
                    $('<span class="page-number"></span>').text(page + 1).bind('click', {
                        newPage: page
                    }, function (event) {
                        currentPage = event.data['newPage'];
                        $table.trigger('repaginate');
                        $(this).addClass('active').siblings().removeClass('active');
                    }).appendTo($pager).addClass('clickable');
                }
                $pager.insertAfter($table).find('span.page-number:first').addClass('active');
            });
        });
    </script>
{% endblock %}