{% extends 'base.twig' %}

{% block head_js %}
    {{ parent() }}
    <script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "BlogPosting",
	  "mainEntityOfPage":{
		"@type":"WebPage",
		"@id":"{{ page_meta.url }}"
	  },
	  "headline": "{{ page_meta.title }}",
	  "image": {
		"@type": "ImageObject",
		"url": "{{ page_meta.thumbnail }}",
		"height": 636,
		"width": 947
	  },
	  "datePublished": "{{ page_meta.date|date(config.twig_date_published) }}",
	  "dateModified": "{{ page_meta.date|date(config.twig_date_published) }}",
	  "author": {
		"@type": "Person",
		"name": "{{ page_meta.author }}"
	  },
	   "publisher": {
		"@type": "Organization",
		"name": "{{ page_meta.title }}",
		"logo": {
		  "@type": "ImageObject",
		  "url": "{{ config.authorimage }}",
		  "width": 60,
		  "height": 60
		}
	  },
	  "description": "{{ page_meta.description }}"
	}




    </script>
{% endblock %}

{% block content %}
    <div class="row fh5co-post-entry single-entry hfeed">
        <article
                class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 hentry">
            {% if meta.thumbnail %}
                <figure class="animate-box">
                    <img src="{{ meta.thumbnail.1000 }}" alt="{{ page_meta.title }}"
                         class="img-responsive post-thumbnail">
                </figure>
            {% endif %}
            {% if config.magazine.show_categories %}
                <span class="fh5co-meta animate-box"><a href="#">{{ meta.category }}</a></span>
            {% endif %}
            <h2 class="fh5co-article-title animate-box entry-title">{{ page_meta.title }}</h2>
            <span class="fh5co-meta fh5co-date animate-box">{{ page_meta.date|date(config.twig_date_format) }}</span>
            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article entry-content">
                {{ content|raw }}
            </div>
            <hr>
            <div id="comments">
                <h3>Comments</h3>
                <form method="post" action="/assets/comment.php">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="comment_name">Name</label>
                        </div>
                        <div class="col-sm-10">
                            <input id="comment_name" name="name" placeholder="Your name">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="comment_content">Comment</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea id="comment_content" name="content" maxlength="5000"
                                      placeholder="Your comment here"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="url" value="{{ page_meta.url }}">
                    <div class="text-right">
                        <button type="submit">Comment</button>
                    </div>
                </form>
                {% for comment in comments %}
                    <comment>
                        <h4>{{ comment.name|raw }}</h4>
                        <small>{{ comment.time|date(config.twig_date_time_format) }}</small>
                        <p>{{ comment.content|raw }}</p>
                    </comment>
                {% endfor %}
            </div>
        </article>
    </div>
{% endblock %}
