{% extends 'base.twig' %}

{% block content %}
    <div class="row fh5co-post-entry hfeed" itemscope itemtype="http://schema.org/Blog">
        {% if nav[meta.title]|length > 0 %}
            {% for page in nav[meta.title] %}
                {% if page.meta.template == "single" %}
                    <article class="col-lg-3 col-md-4 col-sm-6 col-xs- 12 animate-box hentry">
                        <figure>
                            {% if page.meta.thumbnail %}
                                <a href="{{ page.url }}"><img src="{{ page.meta.thumbnail }}"
                                                              alt="{{ page.meta.title }}"
                                                              class="img-responsive"></a>
                            {% endif %}
                        </figure>
                        <span class="fh5co-meta"><a
                                    href="{{ base_url }}/categories?qc={{ page.meta.category }}">{{ page.meta.category }}</a></span>
                        <h2 class="fh5co-article-title entry-title"><a href="{{ page.url }}">{{ page.meta.title }}</a>
                        </h2>
                        {% if page.meta.date %}
                            <span class="fh5co-meta fh5co-date">{{ page.meta.date|date(config.twig_date_format) }}</span>
                        {% endif %}
                    </article>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>There are no posts yet in this category</h2>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.fh5co-post-entry').each(function () {
                var currentPage = 0;
                var numPerPage = {{ config.magazine.numPerPage }};
                var $table = $(this);
                $table.bind('repaginate', function () {
                    $table.find('article').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
                });
                $table.trigger('repaginate');
                var numRows = $table.find('article').length;
                var numPages = Math.ceil(numRows / numPerPage);
                var $pager = $('<div class="pager"></div>');
                for (var page = 0; page < numPages; page++) {
                    $('<span class="page-number"></span>').text(page + 1).bind('click', {
                        newPage: page
                    }, function (event) {
                        currentPage = event.data['newPage'];
                        $table.trigger('repaginate');
                        $(this).addClass('active').siblings().removeClass('active');
                    }).appendTo($pager).addClass('clickable');
                }
                $pager.insertAfter($table).find('span.page-number:first').addClass('active');
            });
        });
    </script>
{% endblock %}
