{% extends 'base.twig' %}

 {% block stylesheets %}
     {{ parent() }}
     <style>
     </style>
 {% endblock %}

{% block head_js %}
    <script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"name" : "{{ site_title }}",
		"url": "{{ base_url }}"
	}




    </script>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="homescreen" itemscope itemtype="http://schema.org/Blog">
            {% for app in pages|sort_by("time")|reverse %}
                {% if app.meta.template == "app" %}
                    <a class="application" href="{{ app.url }}">
                        <div>
                            <img src="{% if app.meta.thumbnail %}{{ app.meta.thumbnail.appicon }}{% else %}https://safetyaustraliagroup.com.au/wp-content/uploads/2019/05/image-not-found.png{% endif %}"
                                 alt="{{ app.meta.title }}"
                                 class="img-responsive">
                        </div>
                        <h2 class="appname">{{ app.meta.title }}
                        </h2>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
